<div class = 'container'>
<h1>Spots</h1>
  <table class = 'table'>
    <thead>
      <tr>
        <th>
          <h3>Location</h3>
        </th>

        <th>
          <h3>Time</h3>
        </th>

        <th>
          <h3>Description</h3>
        </th>

        <th>
          <h3>Others</h3>
        </th>
      </tr>
    </thead>

    <tbody>
      <% @spots.each do |spot| %>
        <tr>
          <td>
            <%= spot.location %>
          </td>

          <td>
            <%= spot.time.strftime("%H:%M%p") %>
          </td>

          <td>
            <%= spot.description %>
          </td>

          <td>
            <%= spot.others %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
