<!--jumbotron-->
  <div class="container">

    <div class="jumbotron">
      <div style="color:orange;margin-left:60px">
        <h1>gCamp</h1>
        <p>Your life, organized</p>
      </div>
    </div>
  </div>
<footer>
  <div class="container">
    footer stuff here
  </div>
</footer>
stuff
stuff<br>
stuff<br>
stuff<br>
stuff<br>
stuff<br>
stuff<br>
stuff<br>
stuff<br>
stuff<br>
stuff<br>
stuff<br>
stuff<br>
stuff<br>
stuff<br>
stuff<br>
stuff<br>
stuff<br>
stuff<br>
stuff<br>
stuff<br>
stuff<br>
stuff<br>
stuff<br>
stuff<br>
stuff<br>
stuff<br>
stuff<br>
stuff<br>
stuff<br>
stuff<br>
stuff<br>
stuff<br>
stuff<br>
stuff<br>
stuff<br>
stuff<br>
stuff<br>
stuff<br>
stuff<br>
stuff<br>
stuff<br>
stuff<br>
stuff<br>
stuff<br>
stuff<br>
stuff<br>
stuff<br>
stuff<br>
