@import "bootstrap-sprockets";
@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.signin {
  :link, :visited{
    color:#ffffff;
  }
}

.navbar-header {
  display:inline;
  font-size:45px;
  font-family:'papyrus';
  font-weight:bold;
}

.error {
  color:#fd0202
}

.well {
  color:black;
  opacity:.8;
}

.jumbotron {
  opacity: .6;
  color:black;
  :link, :visited {
    color:black;
  }
}

body{
  font-family:"arial black";
  margin-top:60px;
  background:image-url("west_end_of_pearl_street_mall_boulder_colorado-wallpaper-3840x2160.jpg");
  background-size:cover;
  background-position:fixed;
  color:white;
}

.btn-submit {
  background-color: #ee0611
}

.navbar-fixed-top {
  background: image-url("Cologne_-_Panoramic_Image_of_the_old_town_at_dusk.jpg");
  background-size:100% 100%;
  .pull-right {
    font-size:20px;
  }
}

input {
  color:black;
  text-align:center;
}

:visited, :link {
  color:white;
}
