@import "bootstrap-sprockets";
@import "bootstrap";

.homepage {
  background:image-url("west_end_of_pearl_street_mall_boulder_colorado-wallpaper-3840x2160.jpg");
  background-size:cover;
  background-position:fixed;
  color:white;
  :visited, :link {
    color:white;
  }
}

.signin {
  :link, :visited{
    color:#ffffff;
  }
}

.navbar-header {
  display:inline;
  font-size:45px;
  font-family:'papyrus';
  font-weight:bold;
}

.error {
  color:#fd0202
}

.well {
  color:black;
  opacity:.8;
}

.jumbotron {
  opacity: .6;
  color:black;
  :link, :visited {
    color:black;
  }
}

body{
  font-family:"Futura";
  font-size: 17px;
  margin-top:70px;
}

.btn-submit {
  background-color: #ee0611
}

.navbar-fixed-top {
  background: image-url("Cologne_-_Panoramic_Image_of_the_old_town_at_dusk.jpg");
  background-size:100% 100%;
  .pull-right {
    font-size:20px;
  }
}

input {
  color:black;
  text-align:center;
}
