@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background:image-url("west_end_of_pearl_street_mall_boulder_colorado-wallpaper-3840x2160.jpg");
  background-size:cover;
  background-position:cover;
  color:white;
  :visited, :link {
    color:white;
  }
}

.body-container {
  background: rgba(0,0,0,0.4);
  border-radius: 1em;
  box-shadow: inset 0 0 5em black, 0 0 5em black;
}

.spot-button {
  border-radius: 5px;
  box-shadow: inset 0 0 5em black, 0 0 5em black;
}

.notice {
  opacity: 0.6;
}

.nav-li {
  float:left;
}

.map {
  float:right;
  width: 300px;
  height: 300px;
  background-color: gray;
}

.spot_something {
  margin-left: -80px;
  transform: scaleX(0.80);
  padding-top: 10px;
}

.navbar-header {
  display:inline;
  font-size:45px;
  font-family:'papyrus';
  font-weight:bold;
}

.error {
  color:#fd0202
}

.well {
  color:black;
  opacity:.8;
  box-shadow: inset 0 0 5em black, 0 0 5em black;
  border:none;
}

.jumbotron {
  opacity: .6;
  color:black;
  :link, :visited {
    color:black;
  }
  box-shadow: inset 0 0 5em black, 0 0 5em black;
}

body{
  font-family:"Futura";
  font-size: 17px;
  margin-top:70px;
}

.navbar-right {
  margin-top:-40px;
}

.btn-submit {
  background-color: #ee0611;
  color:white;
  border-radius:.5em;
  box-shadow: inset 0 0 1em black, 0 0 2em black;
  border:none;
}

.btn-submit:hover {
  background-color: #9f000d;
  color:white;
}

.navbar-fixed-top {
  background: image-url("Cologne_-_Panoramic_Image_of_the_old_town_at_dusk.jpg");
  background-size:100% 100%;
  color:white;
  :link, :visited{
    color:#ffffff;
  }
}

input {
  color:black;
  text-align:center;
}
