<div class='container'>
  <%= page_header "#{@cat.first.name}" %>

  <% @cat.first.subcats.each do |subcat| %>
    <div class = 'container'>
      <%= subcat.name %><br><hr style='width:95%;float:left'><br><br>
      <% subcat.places.each do |place| %>
        <div class = 'container'>
          <%= place.name %><br>
          <%= place.description %>
          <hr style='width:90%;float:left'>
        </div>
      <% end %>
      <br>
    </div>
  <% end %>
</div>
